# Node.js
node_modules/
/node_modules
/.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Build output
dist/
build/
/build

# Dependency directories
jspm_packages/
typings/

# Yarn
yarn-error.log

# Optional: IDE/Editor specific files
.vscode/
.idea/

# Optional: Configuration files
*.code-workspace
*.code-workspace.backup

# Optional: Testing
coverage/
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
